<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<!-- 因为添加了初始信息 -->
<a th:href="@{/test/testRequestMapping}">测试RequestMapping注解的位置</a>
<br>
<a th:href="@{/test/array}">测试RequestMapping value的数组属性value1的数组属性</a>
<br>
<a th:href="@{/test/arrays}">测试RequestMapping value2的数组属性</a>

<br>
<a th:href="@{/test/form}">测试RequestMapping method ,get 属性</a>

<br>

<!-- 请求错误 -->
<form th:action="@{/test/form}" method="post">
    <input type="submit" value="测试RequestMapping 的 method 属性，post 属性">
</form>

<br>

<!-- 超链接是 get 请求-->
<a th:href="@{/test/formPost}">测试PostMapping注解</a>

<br>
<form th:action="@{/test/testPut}" method="put">
    <input type="submit" value="测试 form 菜单表格能不能发送 put 请求">
</form>

<br>

<!-- test/a1a/testAnt -->
<a th:href="@{/test/aqa/testAnt}">测试RequestMapping 可以匹配 ant 风格的路径 ? </a>

<br>
<!-- test/a3434/testAnt2 -->
<a th:href="@{/test/a111a/testAnt2}">测试RequestMapping 可以匹配 ant 风格的路径 * </a>

<br>
<!-- test/2222/a111a/111/testAnt3  -->
<a th:href="@{/test/a111a/testAnt3}">测试RequestMapping 可以匹配 ant 风格的路径 ** </a>

<br>
<a th:href="@{/test/testPath/1}">测试RequestMapping支持路径中的占位符</a>

<br>
<a th:href="@{/test/testPath/1/uriku}">测试RequestMapping支持路径中的多个占位符</a>
</body>
</html>